.enquiry-form {
  background-color: #fff;
  border-radius: rem-calc(16);
  box-shadow: rem-calc(1) rem-calc(8) rem-calc(5) hsla(249, 10%, 26%, 0.5);
  padding: rem-calc(40) rem-calc(24);
  &__field {
    &--input {
      border: rem-calc(1) solid hsla(246, 25%, 77%, 0.5);
      border-radius: 0.25em;
      padding: rem-calc(16);
      width: 100%;
      font-weight: 700;
      color: $dark-blue;
      margin-bottom: rem-calc(48);
    }
  }

  &__validation {
    display: flex;
    margin: rem-calc(-41.6) 0 rem-calc(9) 0;
    color: $red;
    font-style: italic;
    font-weight: 500;
  }

  &__button {
    border: none;
    font-size: rem-calc(16);
    background-color: $green;
    padding: rem-calc(13.6);
    border-radius: rem-calc(4);
    color: white;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    transition: background-color 150ms ease-in-out;
    font-weight: 500;
    font-family: $poppins;

    &:hover {
      background-color: hsl(154, 60%, 42%);
    }
  }

  &__tos {
    color: $grayish-blue;
    display: block;
    font-size: rem-calc(12);
    padding-top: rem-calc(12);
  }
}
