body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  background-image: url(../images/bg-intro-desktop.png);
  background-color: $red;
  background-size: 100%;
}

div {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

@media (min-width: $tablet) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  @media (min-width: $laptop) {
    .container {
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }
  }

  @media (min-width: $desktop) {
    .container {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
  }

  .flex-2-cols {
    @include flex-grid-items(2);
    gap: 10px;
  }

  .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .info {
    text-align: left;
    margin: auto;
    &__title {
      font-size: 2.5rem;
      line-height: 1;
      margin: 0;
    }

    &__description {
      font-size: 1rem;
      padding-right: rem-calc(15);
    }
  }
}
